// class 16.04.2020
@mixin flex-forever {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99%; // added to fit with my webpage 20200416.html
  }
// mixin with arguments
@mixin font-setup($f-name, $f-size, $f-weight) {
  font-family: $f-name;
  font-size: $f-size;
  font-weight: $f-weight;
}