$my-color-1:                         lightcyan;
$button-nav-size-width:                     90px;
$times:                                        1;
$solution-background:               $times * 75%;
$solution-color-background-width:  $times * 60px;
$solution-color-background-padding:         50px;